<div>
<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" data-role="fieldcontain">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field" data-role="fieldcontain">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field" data-role="fieldcontain">
    <%= f.label :due_date %><br>
    <%= f.datetime_select :due_date %>
  </div>
  <div class="field" data-role="fieldcontain">
    <%= f.label :completed_at %><br>
    <%= f.datetime_select :completed_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
